# Variables opcionales para despliegue
DJANGO_SECRET_KEY=cambie-esto-en-produccion
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=su-dominio.onrender.com,localhost
DATABASE_URL=postgres://usuario:pass@host:5432/nombrebd
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.ejemplo.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=ConsultaMed <noreply@su-dominio.com>
